h1{
    background-color:white;
    color: rgb(74, 74, 75);
    text-align: center;
    height: 50px;

}
.form{
    text-align: center;
    margin: 300px;
    margin-left: 440px;
    height: 300px;
    border: 1px solid black;
    width: 500px;
    background-color: rgb(100, 103, 103);

    
}
.btn{
    color: antiquewhite;
    background-color: rgb(82, 173, 234);
    width: 100px;
    height: 30px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-color: blueviolet;
    border-bottom-color: rgb(197, 42, 221);
    border-left-color: rgb(93, 23, 99);
    border-right-color: rgb(203, 52, 105);
    box-shadow: 3px 2px rgb(238, 69, 227);
    font-size: 20px;

}
body{
    background-image: linear-gradient(rgb(230, 234, 228),rgb(153, 168, 202)
    );
}
.lable{
    color: rgb(48, 22, 151);
    font-size: 20px;

}
.lable2{
    color: rgb(48, 22, 151); 
    font-size: 20px;
}
.and{
    text-decoration: none;
    position: absolute;
    bottom: 700px;
    right: 1390px;
    color: rgb(225, 47, 47);
    font-size: 15px;

}
a{
    margin-bottom:-20px;
    margin-right: 10px;
    height: 50px;
}
.form1{
position: absolute;
left: 580px;
top: 450px;



}
