input{
    border-bottom: 1px solid black;
    border: none;
    position: absolute;
    left: 40px;
    width: 400px;
}
.div{
    border: 1px solid black;
    text-align: center;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 200px;
    left: 500px;
    background-color: white;
}
h1{
    color: rgb(243, 54, 54);
}
.text{
    position: absolute;
    left: 40px;
    width: 400px;
    border: none;
}
button{
    color: rgb(231, 234, 237);
    width: 300px;
    height: 30px;
    border-radius: 5px;
    position: absolute;
    top: 420px;
    left: 100px;

}
img{
    
    position: absolute;
    top: 10px;
    left: 1415px;
}