div{
           
    width: 100%;
    height: 800px;

    
   
    
}
tr{
    text-align: center;
    position: absolute;
    top: 300px;
}
td{
    border-bottom: 1px solid rgb(21, 20, 20);


    
    text-align: center;
}

.user{

    position: absolute;
    top: 10px;
    left: 650px;
    
}
.pass{
position: absolute;
top: 50px;
left: 650px;
}
h1{
text-align: center;
position: absolute;
top: 200px;
left: 670px;
color: antiquewhite;


}
input[type="text"]{
    border: none;
    background-color: pink;
}
input[type="password"]{
    border: none;
    background-color: pink;
}
form{
    border: 1px solid rgb(113, 101, 101);
}
h4{
    position: absolute;
    top: 370px;
    left: 750px;
}
.h4{
    position: absolute;
    top: 370px;
    left: 660px;
}
button{
    position: absolute;
    left: 660px;
    top: 430px;
    width: 170px;
    border-radius: 10px;
    color: rgb(222, 225, 231);
    background-color: rgb(154, 154, 217);
    
}

