table,td,th{
    border: 2px solid black;
    border-collapse: collapse;
    border-color: rgb(244, 244, 247);
    text-align: center;

}
td,th{
    padding: 10px;
    padding-left: 30px;
    

}

h1{
    text-align: center;
    background-image:linear-gradient(rgb(144, 133, 135),rgb(111, 111, 158));
    color: rgb(39, 61, 61);
}
button{
    border-radius: 40px;
    background-color: rgb(175, 195, 207);
    font-size: 15px;
    color: rgb(252, 243, 243);
    margin-left: 500px;;
    position: absolute;
    left: 680px;
    top: 519px;
    border-color: rgb(175, 195, 207);
    border-right-color: rgb(175, 195, 207);
    border-bottom-color: rgb(175, 195, 207);
    height: 40px;
}
img{
    width: 100px;
    box-shadow: 10px 10px 10px  10px rgb(141, 141, 228) ;
    position: absolute;
    top: 400px;
    right: 200px;
    
}
body{
    background-image:linear-gradient( rgb(181, 225, 226),rgb(179, 179, 216)) ;
    height: 800px;
}
.the{
    color: rgb(69, 20, 232);

}
.button{
    color: rgb(69, 67, 67);
    font-size: 20px;
}